h1{
  color: darkred;
  padding: 70px;
  font-size: 30px;
  text-align: center;
}

p{
  color: darkgreen;
  font-size: 25px;
  text-align: left;
  margin-left: 40px;
}

div{
  display: inline-block;
  margin-right: 40px;
}
