<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
  <div style="display: inline-block">
    <img routerLink="home" class="emblem" src="assets/images/3DFlower.png" alt="emblem">
  </div>
  <div class="nav-horizontal">
    <div style="display: inline-block">
      <a type="button" class="button-nav-horizontal" routerLink="/login">
        <mat-icon matBadge="15" matBadgeColor="warn" style="vertical-align: bottom">perm_identity</mat-icon>
      </a>
    </div>
    <div style="display: inline-block">
      <a type="button" class="button-nav-horizontal" routerLink="/home">
        <mat-icon matBadge="15" matBadgeColor="warn" style="vertical-align: bottom">home</mat-icon>
      </a>
    </div>
    <div class="cart">
      <a class="button-nav-horizontal" style="cursor: pointer">
        <mat-icon matBadge="15" matBadgeColor="warn" style="vertical-align: bottom">shopping_cart</mat-icon>
        <div class="cart-drop">
            <table >
              <tr>
                <th colspan="2">Name  </th>
                <th>Quantity  </th>
                <th>Price</th>
              </tr>
              <tr *ngFor="let i of items">
                <td><img src="{{i.image}}" width="40px" height="40px" style="border-radius: 10px"></td>
                <td>{{i.name}}</td>
                <td style="text-align: center">{{i.quantity}}</td>
                <td style="text-align: right">{{i.price}}lei</td>
                <td>
                  <button class="cancel-button" (click)="removeOneElement(i)"><mat-icon>cancel</mat-icon></button>
                </td>
              </tr>
            </table>
          <a class="to-cart" type="button" routerLink="/cart">
            <button>See cart!</button>
          </a>
        </div>
      </a>

    </div>
  </div>
  <div class="search-container">
    <form>
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div>
  <div class="container2">
    <ul>
      <li><a type="button" class="button" routerLink="/ourProducts">Popular Products</a></li>
      <li><a type="button" class="button" routerLink="/flower">Flowers</a></li>
      <li><a type="button" class="button" routerLink="/pot">Pots</a></li>
      <li><a type="button" class="button" routerLink="/accessories">Accessories</a></li>
    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
