<p class="comp1" >3D<span>Flowers</span></p>
<p class="comp2">Welcome to our scented land</p>

<div class="container">
<input class="s1" type="text" name="email" placeholder="email" ngModel>
<br/>
<input class="s2" type="password" name="password" placeholder="password" ngModel>
<br/>
<input class="s3" type="submit" value="SUBMIT">
</div>

<nav>
<ul>
<li><a href="default.asp" class="comp3">Home</a></li>
<li><a href="default.asp" class="comp4">Our Products</a></li>
<li><a href="flowers.asp" class="comp5" >Flowers</a></li>
<li><a href="pots.asp" class="comp6">Pots</a></li>
<li><a href="accessories.asp" class="comp7">Accessories</a></li>
</ul>
</nav>

