<div style="display: inline-block" *ngFor="let p of products">
  <a [routerLink]="['/accessories/accessories-content', p.id]">
    <div class="content">
      <ul>
        <li style="margin-left: 12px; margin-bottom: 20px"><img src="{{p.image}}" width="100px" height="100px" ></li>
        <li style="font-size: x-large; margin-bottom: 20px; height: 60px"><b style="font-size: x-large">{{p.name}}</b> <br> {{p.description}}</li>
        <li style="color: red; font-size: x-large"><mat-icon>local_offer</mat-icon> {{p.price}} lei</li>
      </ul>
    </div>
  </a>
</div>
