.quantity button{
  padding: 5px 15px;
  font-size: xx-large;
  background-color: grey;
  border: none;
  cursor: pointer;
  color: white;
}

input{
  padding: 3px;
  font-size: xx-large;
  border: 2px solid grey;
  text-align: center;
  max-width: 50px;
  margin-bottom: 10px;
}


h3{
  color: maroon;
  text-align: center;
  font-size: 35px;
  font-family: "Trebuchet MS";
}

.img{
  display: inherit;
  margin-left: 50px;
  width: 35%;
  image-resolution: inherit;
}
