<div class="shopCart">
  <h1 style="font-size: xx-large"><b>Your ShopCart</b></h1>
  <table rules=rows>
    <tr>
      <th colspan="2">Products</th>
      <th>Quantity</th>
      <th>Price</th>
      <th  style="width: 50px">Cancel</th>
    </tr>
    <tr class="cart-item" *ngFor="let item of items">
      <td><img src="{{item.image}}" width="40px" height="40px"></td>
      <td>{{ item.name }}</td>
      <td style="text-align: center">{{item.quantity}}</td>
      <td style="text-align: right">{{item.price}} lei</td>
      <td style="width: 50px; text-align: center">
        <button class="cancel-button" (click)="removeOneElement(item); removeElementFromDB()"><mat-icon>cancel</mat-icon></button>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: right">Total</td>
      <td style="text-align: center">{{total}}</td>
      <td style="width: 50px"></td>
    </tr>
  </table>
  <button class="clearAll" (click)="clearCart()">Clear all</button>
</div>
