.shopCart {
  margin-left: 10%;
}

table {
  border: 2px solid;
}

th, td {
  width: 300px;
  height: 40px;
  font-size: x-large;
}

th {
  background-color: darkgrey;
}

.cancel-button {
  cursor: pointer;
  background-color: white;
  border: none;
}

img{
  margin-left: 20px;
}
