<mat-card class="register-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="register-form">
      <table class="register-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="register-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="register-full-width">
              <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="register-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
          </mat-form-field></td>
        </tr>
        <tr>
          <td><mat-form-field class="register-full-width">
            <input matInput placeholder="Confirm password" [(ngModel)]="ConfirmPassword"type="password" name="password" required>
          </mat-form-field></td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">Submit</button>
  </mat-card-actions>
</mat-card>
